/* fix padding under menu after resize */
@media screen and (max-width: 767px) {
  body { padding-top: 80px; }
}
@media screen and (min-width:768px) and (max-width: 991px) {
  body { padding-top: 130px; }
}
@media screen and (min-width: 992px) {
  body { padding-top: 80px; }
}